@font-face {
	font-family: "personalfont";
	src: url('assets/personalfont');
}

* {
  background-color: #f2f2f2;
  text-align: center;
}

body {
	margin: 42px;
	font-family: sans-serif;
}

h1 {
	font-family: "personalfont", Gadget, sans-serif;
	font-size: 3.5em;
}

p {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#navlink, #navlink:active,  {
  text-decoration: none;
  color: #872727;
  #navlink:hover {
    cursor: crosshair;
  }
}

#link, #link:active,  {
  text-decoration: none;
  color: #3c3d3c;
}